openapi: 3.1.0
info:
  title: Rebeca API
  version: 1.0.0
  description: 'Generado a partir de src/Router/HTTPRouter.js (rebeca-backend) y la coleccion Bruno ''Rebeca
    - API Endpoints Bruno''. Ver x-source en cada operacion para la linea exacta del router. Las rutas
    de logs/errors/bugs/replay/behaviour/trace/users/stats/tokens son contrato adelantado por el
    architect: su x-source apunta a la spec del vault, aun sin implementar en rebeca-backend. Lo mismo
    para tour-routes/tour-route y sus sub-rutas image/translate/import: contrato adelantado del run
    crud-rutas-turisticas (decisions.md, esquema-prod.md, rutas-excel.md), aun sin implementar. Headers
    de correlacion X-Session-Id/X-Trace-Id (components.parameters XSessionIdHeader/XTraceIdHeader):
    convencion recomendada en toda peticion al backend para que el backend etiquete su propia fila de
    log con sesion/traza; documentados explicitamente solo en las rutas de ingesta de logs/bugs.'
servers:
- url: https://rebeca.app/api/dev
  description: 'dev (Bruno environment: Rebeca App DEV)'
tags:
- name: Admin
- name: Agora
- name: Assistant
- name: Client
- name: Services
- name: access-code
- name: access-codes
- name: activity
- name: admins
- name: agents
- name: analytics
- name: app
- name: assistant
- name: behaviour
- name: bugs
- name: business-identity
- name: cache
- name: callingCodes
- name: client
- name: clients
- name: code
- name: codes
- name: connect
- name: contact
- name: cos
- name: destination
- name: destinations
- name: destiny
- name: error
- name: errors
- name: events
- name: flights
- name: google
- name: ia
- name: image
- name: items
- name: jobs
- name: joiners
- name: labels
- name: logs
- name: maps
- name: multilanguage
- name: octorate
- name: package
- name: packages
- name: permission
- name: permissions
- name: poi
- name: pois
- name: provider
- name: provider-agent
- name: provider-channels
- name: provider-widget-config
- name: PublicApiAdmin
- name: qr
- name: ready_live
- name: recsys
- name: replay
- name: resources
- name: routes
- name: service
- name: sessions
- name: stats
- name: streaming
- name: subscription
- name: token
- name: tokens
- name: topics
- name: tour
- name: tour-route
- name: tour-routes
- name: trace
- name: trip
- name: user
- name: users
- name: watson
- name: webhook
- name: webhook_salesbot
- name: webhook_salesbot_probe
- name: whatsapp
- name: widget
- name: widget_auth
paths:
  /admins/add:
    post:
      operationId: register_Add
      tags:
      - admins
      summary: POST /admins/add
      x-source: HTTPRouter.js:38
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/login:
    post:
      operationId: adminLogin
      tags:
      - user
      summary: POST /user/login
      x-source: HTTPRouter.js:47
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    email:
                      type: string
                    password:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                email: sergiosef@gmail.com
                password: luvare75
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /admins/edit:
    post:
      operationId: editAdmin
      tags:
      - admins
      summary: POST /admins/edit
      x-source: HTTPRouter.js:55
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admins/delete:
    post:
      operationId: deleteAdminsByID
      tags:
      - admins
      summary: POST /admins/delete
      x-source: HTTPRouter.js:61
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admins/get/filter:
    post:
      operationId: getMyAdmins
      tags:
      - admins
      summary: POST /admins/get/filter
      x-source: HTTPRouter.js:66
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admins/get/editable:
    post:
      operationId: getAdminEditableDetails
      tags:
      - admins
      summary: POST /admins/get/editable
      x-source: HTTPRouter.js:71
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /admins/update/status:
    post:
      operationId: updateAdminStatus
      tags:
      - admins
      summary: POST /admins/update/status
      x-source: HTTPRouter.js:76
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ia/gen/story:
    post:
      operationId: getGeneratedStory
      tags:
      - ia
      summary: POST /ia/gen/story
      x-source: HTTPRouter.js:84
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /ia/gen/image:
    post:
      operationId: getImageGen
      tags:
      - ia
      summary: POST /ia/gen/image
      x-source: HTTPRouter.js:85
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /ia/gen/embeddings:
    post:
      operationId: generateEmbeddings
      tags:
      - ia
      summary: POST /ia/gen/embeddings
      x-source: HTTPRouter.js:86
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
    get:
      operationId: consultEmbeddings
      tags:
      - ia
      summary: GET /ia/gen/embeddings
      x-source: HTTPRouter.js:87
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /ia/analyze/image/activity:
    get:
      operationId: extractActivityDetailsFromImage
      tags:
      - ia
      summary: GET /ia/analyze/image/activity
      x-source: HTTPRouter.js:88
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/add:
    post:
      operationId: register_Add2
      tags:
      - Client
      summary: POST /clients/add
      x-source: HTTPRouter.js:96
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    email:
                      type: string
                    password:
                      type: string
                    name:
                      type: string
                    last_name:
                      type: string
                    mobile:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                email: christian07@gmail.com
                password: '123456'
                name: Christian
                last_name: ''
                mobile: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/login:
    post:
      operationId: clientLogin
      tags:
      - Client
      summary: POST /clients/login
      x-source: HTTPRouter.js:97
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    email:
                      type: string
                    password:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                email: sergiosef@gmail.com
                password: luvare75
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/preferences/add:
    post:
      operationId: addClientPreferences
      tags:
      - clients
      summary: POST /clients/preferences/add
      x-source: HTTPRouter.js:98
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/get/filter:
    post:
      operationId: getClientsByFilter
      tags:
      - clients
      summary: POST /clients/get/filter
      x-source: HTTPRouter.js:105
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /clients/delete/email:
    post:
      operationId: deleteUsersByEmail
      tags:
      - clients
      summary: POST /clients/delete/email
      x-source: HTTPRouter.js:106
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/delete/account:
    post:
      operationId: deleteAccount
      tags:
      - clients
      summary: POST /clients/delete/account
      x-source: HTTPRouter.js:107
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/check:
    post:
      operationId: checkEmailAvailable
      tags:
      - Client
      summary: POST /clients/check
      x-source: HTTPRouter.js:108
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    email:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                email: christian07@gmail.com
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/update:
    post:
      operationId: updateClient
      tags:
      - clients
      summary: POST /clients/update
      x-source: HTTPRouter.js:109
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /watson/assistant/askV2:
    post:
      operationId: askWatsonAssistant
      tags:
      - Assistant
      summary: POST /watson/assistant/askV2
      x-source: HTTPRouter.js:110
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_id:
                      type: integer
                    language_code:
                      type: string
                    parameters:
                      type: object
                      properties:
                        activity_id:
                          type: integer
                        user_activity_id:
                          type: integer
                        position_mine:
                          type: object
                          properties:
                            latitude:
                              type: number
                            longitude:
                              type: number
                          additionalProperties: true
                        position_other:
                          type: object
                          properties:
                            latitude:
                              type: number
                            longitude:
                              type: number
                          additionalProperties: true
                      additionalProperties: true
                    question:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_id: 70
                language_code: es
                parameters:
                  activity_id: 37
                  user_activity_id: 4121
                  position_mine:
                    latitude: -12.11981
                    longitude: -77.029171
                  position_other:
                    latitude: -13.8097
                    longitude: -76.2446
                question: Distribucion
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /assistant/askV3:
    post:
      operationId: askAgentAssistant
      tags:
      - Assistant
      summary: POST /assistant/askV3
      x-source: HTTPRouter.js:117
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    question:
                      type: string
                    client_id:
                      type: integer
                    session_id:
                      type: string
                    language_code:
                      type: string
                    parameters:
                      type: object
                      properties:
                        activity_id:
                          type: integer
                      additionalProperties: true
                    channel:
                      type: string
                    agent_name:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                question: hay piscina?
                client_id: 131
                session_id: thread_OVwaIpN0KjdP7qENjuLGsQDA
                language_code: en
                parameters:
                  activity_id: 37
                channel: app_web_mobile
                agent_name: travel
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /assistant/partner-classify:
    post:
      operationId: partnerClassify
      tags:
      - assistant
      summary: POST /assistant/partner-classify
      x-source: HTTPRouter.js:123
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /assistant/partner-status:
    get:
      operationId: partnerStatus
      tags:
      - assistant
      summary: GET /assistant/partner-status
      x-source: HTTPRouter.js:127
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /whatsapp/assistant:
    get:
      operationId: verifyWhatsAppAssistant
      tags:
      - whatsapp
      summary: GET /whatsapp/assistant
      x-source: HTTPRouter.js:128
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
    post:
      operationId: askWhatsAppAssistant
      tags:
      - whatsapp
      summary: POST /whatsapp/assistant
      x-source: HTTPRouter.js:132
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/behaviour/log:
    post:
      operationId: logUserBehaviour
      tags:
      - clients
      summary: POST /clients/behaviour/log
      x-source: HTTPRouter.js:133
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/status:
    put:
      operationId: updateClientStatus
      tags:
      - client
      summary: PUT /client/status
      x-source: HTTPRouter.js:134
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/favourite/poi:
    post:
      operationId: setFavouritePOI
      tags:
      - client
      summary: POST /client/favourite/poi
      x-source: HTTPRouter.js:135
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_id:
                      type: integer
                    place_of_interest_id:
                      type: string
                    is_favourite:
                      type: boolean
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_id: 131
                place_of_interest_id: '2065'
                is_favourite: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/connection:
    post:
      operationId: toggleConnection
      tags:
      - client
      summary: POST /client/connection
      x-source: HTTPRouter.js:139
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /client/connections:
    get:
      operationId: getConnections
      tags:
      - client
      summary: GET /client/connections
      x-source: HTTPRouter.js:140
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connect/lodging:
    get:
      operationId: getLodging
      tags:
      - connect
      summary: GET /connect/lodging
      x-source: HTTPRouter.js:141
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /connect/packages:
    get:
      operationId: getPackages
      tags:
      - connect
      summary: GET /connect/packages
      x-source: HTTPRouter.js:145
      security:
      - bearerAuth: []
      - {}
      parameters:
      - name: language_code
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /package/details:
    get:
      operationId: getPackageDetails
      tags:
      - package
      summary: GET /package/details
      x-source: HTTPRouter.js:146
      security:
      - bearerAuth: []
      - {}
      parameters:
      - name: language_code
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /package/stop:
    get:
      operationId: getStopByQr
      tags:
      - package
      summary: GET /package/stop
      x-source: HTTPRouter.js:147
      security:
      - bearerAuth: []
      - {}
      parameters:
      - name: language_code
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /packages:
    get:
      operationId: listPackages
      tags:
      - packages
      summary: GET /packages
      x-source: HTTPRouter.js:155
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package:
    get:
      operationId: getPackageForAdmin
      tags:
      - package
      summary: GET /package
      x-source: HTTPRouter.js:159
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createPackage
      tags:
      - package
      summary: POST /package
      x-source: HTTPRouter.js:160
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updatePackage
      tags:
      - package
      summary: PUT /package
      x-source: HTTPRouter.js:161
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deletePackage
      tags:
      - package
      summary: DELETE /package
      x-source: HTTPRouter.js:162
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package/image:
    post:
      operationId: uploadPackageImage
      tags:
      - package
      summary: POST /package/image
      x-source: HTTPRouter.js:166
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package/translate:
    post:
      operationId: retranslatePackageField
      tags:
      - package
      summary: POST /package/translate
      x-source: HTTPRouter.js:177
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package/codes:
    get:
      operationId: listPackageCodes
      tags:
      - package
      summary: GET /package/codes
      x-source: HTTPRouter.js:184
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package/code:
    post:
      operationId: createPackageCode
      tags:
      - package
      summary: POST /package/code
      x-source: HTTPRouter.js:185
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updatePackageCode
      tags:
      - package
      summary: PUT /package/code
      x-source: HTTPRouter.js:186
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deletePackageCode
      tags:
      - package
      summary: DELETE /package/code
      x-source: HTTPRouter.js:187
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /provider/codes:
    get:
      operationId: listProviderCodes
      tags:
      - provider
      summary: GET /provider/codes
      x-source: HTTPRouter.js:191
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /provider/code:
    post:
      operationId: createProviderCode
      tags:
      - provider
      summary: POST /provider/code
      x-source: HTTPRouter.js:192
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateProviderCode
      tags:
      - provider
      summary: PUT /provider/code
      x-source: HTTPRouter.js:193
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteProviderCode
      tags:
      - provider
      summary: DELETE /provider/code
      x-source: HTTPRouter.js:194
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /provider/code/redeem:
    post:
      operationId: redeemProviderCode
      tags:
      - provider
      summary: POST /provider/code/redeem
      x-source: HTTPRouter.js:198
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package/redeem:
    post:
      operationId: redeemPackageCode
      tags:
      - package
      summary: POST /package/redeem
      x-source: HTTPRouter.js:202
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /package/code/peek:
    post:
      operationId: peekCode
      tags:
      - package
      summary: POST /package/code/peek
      x-source: HTTPRouter.js:210
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /provider/detail:
    get:
      operationId: getProviderDetail
      tags:
      - provider
      summary: GET /provider/detail
      x-source: HTTPRouter.js:214
      security:
      - bearerAuth: []
      - {}
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/permissions:
    get:
      operationId: clientPermissions
      tags:
      - client
      summary: GET /client/permissions
      x-source: HTTPRouter.js:218
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /client/profile/360:
    get:
      operationId: get360Profile
      tags:
      - client
      summary: GET /client/profile/360
      x-source: HTTPRouter.js:224
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /client/profile/360/foundry:
    get:
      operationId: get360ProfileFoundry
      tags:
      - client
      summary: GET /client/profile/360/foundry
      x-source: HTTPRouter.js:235
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trip/accommodation/code/claim:
    post:
      operationId: claimGenericCode_Claim
      tags:
      - Client
      summary: POST /trip/accommodation/code/claim
      x-source: HTTPRouter.js:241
      security:
      - bearerAuth: []
      - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_id:
                      type: integer
                    code:
                      type: string
                    claim:
                      type: boolean
                    language_code:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_id: 70
                code: SpyRLagmqU
                claim: false
                language_code: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /app/enable/code/gen:
    post:
      operationId: sendAppEnableCodes
      tags:
      - app
      summary: POST /app/enable/code/gen
      x-source: HTTPRouter.js:246
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /code/invitation/collaborator:
    post:
      operationId: generateCollaboratorCode
      tags:
      - code
      summary: POST /code/invitation/collaborator
      x-source: HTTPRouter.js:247
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /codes/accommodation:
    get:
      operationId: getAccommodationCodes
      tags:
      - codes
      summary: GET /codes/accommodation
      x-source: HTTPRouter.js:251
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
    put:
      operationId: updateAccommodationCode
      tags:
      - Admin
      summary: PUT /codes/accommodation
      x-source: HTTPRouter.js:252
      security: []
      parameters:
      - name: activity_id
        in: query
        required: false
        schema:
          type: integer
        example: 37
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    check_list:
                      type: array
                      items:
                        type: string
                    code_id:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                check_list:
                - toilet_paper
                - water
                code_id: 1257
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /code/accommodation:
    put:
      operationId: updateActivationCode
      tags:
      - code
      summary: PUT /code/accommodation
      x-source: HTTPRouter.js:256
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /codes:
    delete:
      operationId: deleteCodesByID
      tags:
      - codes
      summary: DELETE /codes
      x-source: HTTPRouter.js:257
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /code/resend:
    post:
      operationId: resendCodeByEmail
      tags:
      - code
      summary: POST /code/resend
      x-source: HTTPRouter.js:258
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /code/claim:
    post:
      operationId: claimGenericCode_Claim2
      tags:
      - code
      summary: POST /code/claim
      x-source: HTTPRouter.js:259
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /code/qr/check-in:
    get:
      operationId: generateCheckInQR
      tags:
      - code
      summary: GET /code/qr/check-in
      x-source: HTTPRouter.js:260
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/codes:
    get:
      operationId: getClientPendingCodes
      tags:
      - Client
      summary: GET /client/codes
      x-source: HTTPRouter.js:261
      security: []
      parameters:
      - name: email
        in: query
        required: false
        schema:
          type: string
        example: christian.yaranga.05@gmail.com
      - name: validation_date
        in: query
        required: false
        schema:
          type: string
        example: '2023-02-27'
      - name: client_id
        in: query
        required: false
        schema:
          type: integer
        example: 70
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /access-code/validate:
    post:
      operationId: validateAccessCode
      tags:
      - access-code
      summary: POST /access-code/validate
      x-source: HTTPRouter.js:265
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /access-codes:
    get:
      operationId: getAccessCodes
      tags:
      - access-codes
      summary: GET /access-codes
      x-source: HTTPRouter.js:266
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createAccessCode
      tags:
      - access-codes
      summary: POST /access-codes
      x-source: HTTPRouter.js:267
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateAccessCode
      tags:
      - access-codes
      summary: PUT /access-codes
      x-source: HTTPRouter.js:268
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteAccessCodes
      tags:
      - access-codes
      summary: DELETE /access-codes
      x-source: HTTPRouter.js:269
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /destination:
    get:
      operationId: getDestination
      tags:
      - destination
      summary: GET /destination
      x-source: HTTPRouter.js:273
      security: []
      parameters:
      - name: destination_id
        in: query
        required: false
        schema:
          type: integer
        example: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
    put:
      operationId: upsertDestination
      tags:
      - destination
      summary: PUT /destination
      x-source: HTTPRouter.js:274
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /destinations:
    get:
      operationId: getDestinations
      tags:
      - destinations
      summary: GET /destinations
      x-source: HTTPRouter.js:279
      security: []
      parameters:
      - name: stack
        in: query
        required: false
        schema:
          type: integer
        example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/engagement/levels:
    get:
      operationId: getUserLevels
      tags:
      - client
      summary: GET /client/engagement/levels
      x-source: HTTPRouter.js:283
      security: []
      parameters:
      - name: client_id
        in: query
        required: false
        schema:
          type: integer
        example: 70
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/engagement/badges:
    get:
      operationId: getUserBadges
      tags:
      - client
      summary: GET /client/engagement/badges
      x-source: HTTPRouter.js:287
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/engagement/rewards:
    get:
      operationId: getUserRewards
      tags:
      - client
      summary: GET /client/engagement/rewards
      x-source: HTTPRouter.js:291
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /client/engagement:
    post:
      operationId: registerUserEngagementAction
      tags:
      - client
      summary: POST /client/engagement
      x-source: HTTPRouter.js:295
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /callingCodes:
    get:
      operationId: getCountryCallingCodes
      tags:
      - callingCodes
      summary: GET /callingCodes
      x-source: HTTPRouter.js:302
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /flights/countries:
    get:
      operationId: getCountryCodes
      tags:
      - flights
      summary: GET /flights/countries
      x-source: HTTPRouter.js:303
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /flights/airports:
    get:
      operationId: getAIATACityCodes
      tags:
      - flights
      summary: GET /flights/airports
      x-source: HTTPRouter.js:304
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /flights/offers:
    get:
      operationId: getAvailableFlights
      tags:
      - flights
      summary: GET /flights/offers
      x-source: HTTPRouter.js:305
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /flights/offer/validate:
    post:
      operationId: validateFlightOffer
      tags:
      - flights
      summary: POST /flights/offer/validate
      x-source: HTTPRouter.js:306
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /flights/offer/book:
    post:
      operationId: createFlightBooking
      tags:
      - flights
      summary: POST /flights/offer/book
      x-source: HTTPRouter.js:310
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /flights/regulations:
    get:
      operationId: getFlightRegulations
      tags:
      - flights
      summary: GET /flights/regulations
      x-source: HTTPRouter.js:311
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /widget/session:
    post:
      operationId: createWidgetSession
      tags:
      - widget
      summary: POST /widget/session
      x-source: HTTPRouter.js:320
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /widget/geocode:
    post:
      operationId: geocodeForWidget
      tags:
      - widget
      summary: POST /widget/geocode
      x-source: HTTPRouter.js:328
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /widget/plan-status/{task_id}:
    get:
      operationId: planStatusForWidget
      tags:
      - widget
      summary: GET /widget/plan-status/:task_id
      x-source: HTTPRouter.js:338
      security: []
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanStatusResult'
  /webhook_salesbot:
    post:
      operationId: webhookSalesbot_Webhooksalesbot
      tags:
      - webhook_salesbot
      summary: POST /webhook_salesbot
      x-source: HTTPRouter.js:346
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /widget_auth/{provider_token}:
    get:
      operationId: widgetAuth
      tags:
      - widget_auth
      summary: GET /widget_auth/:provider_token
      x-source: HTTPRouter.js:347
      security: []
      parameters:
      - name: provider_token
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /webhook_salesbot_probe:
    post:
      operationId: webhookSalesbot_Webhooksalesbotprobe
      tags:
      - webhook_salesbot_probe
      summary: POST /webhook_salesbot_probe
      x-source: HTTPRouter.js:348
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /webhook/{platform}/chat:
    post:
      operationId: handleWebhook
      tags:
      - webhook
      summary: POST /webhook/:platform/chat
      x-source: HTTPRouter.js:355
      security: []
      parameters:
      - name: platform
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                createTime:
                  type: object
                  additionalProperties: true
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /resources/labels/update:
    get:
      operationId: updateAppLabelsVersion
      tags:
      - resources
      summary: GET /resources/labels/update
      x-source: HTTPRouter.js:359
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /resources/labels/consult:
    get:
      operationId: checkForNewVersions
      tags:
      - resources
      summary: GET /resources/labels/consult
      x-source: HTTPRouter.js:363
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /labels/app/localize:
    post:
      operationId: getAppLocalizedLabels
      tags:
      - labels
      summary: POST /labels/app/localize
      x-source: HTTPRouter.js:367
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /labels/web/localize:
    post:
      operationId: getLocalizedWebLabelsByGroup
      tags:
      - Client
      summary: POST /labels/web/localize
      x-source: HTTPRouter.js:371
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    group_code:
                      type: string
                    language_code:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                group_code: tag
                language_code: en
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/config/set:
    post:
      operationId: setClientConfig
      tags:
      - Client
      summary: POST /clients/config/set
      x-source: HTTPRouter.js:388
      security:
      - bearerAuth: []
      - {}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_timezone:
                      type: string
                    preferred_language:
                      type: string
                    client_id:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_timezone: '-05'
                preferred_language: en
                client_id: 57
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /service/accommodation/notification/all:
    post:
      operationId: sendNotificationToAll
      tags:
      - service
      summary: POST /service/accommodation/notification/all
      x-source: HTTPRouter.js:393
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /notification/user2accommodation:
    post:
      operationId: sendNotificationUser2Accommodation
      tags:
      - Client
      summary: POST /notification/user2accommodation
      x-source: HTTPRouter.js:397
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_id:
                      type: integer
                    message:
                      type: string
                    user_trip_id:
                      type: integer
                    activity_id:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_id: 70
                message: Test
                user_trip_id: 2652
                activity_id: 37
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/notification/unsubscribe:
    post:
      operationId: unsubscribeSpecificNotification
      tags:
      - clients
      summary: POST /clients/notification/unsubscribe
      x-source: HTTPRouter.js:401
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/notification/history:
    post:
      operationId: getClientNotificationHistory
      tags:
      - Client
      summary: POST /clients/notification/history
      x-source: HTTPRouter.js:405
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_id:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_id: 1296
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /clients/notification/mark-viewed:
    post:
      operationId: markNotificationAsViewed
      tags:
      - Client
      summary: POST /clients/notification/mark-viewed
      x-source: HTTPRouter.js:409
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    client_id:
                      type: integer
                    associated_entity:
                      type: string
                    associated_id:
                      type: integer
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                client_id: 2541
                associated_entity: trip_tip
                associated_id: -2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /provider/notifications:
    get:
      operationId: getProviderNotifications
      tags:
      - provider
      summary: GET /provider/notifications
      x-source: HTTPRouter.js:413
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /provider/notification/mark-viewed:
    put:
      operationId: setProviderNotificationAsViewed
      tags:
      - provider
      summary: PUT /provider/notification/mark-viewed
      x-source: HTTPRouter.js:417
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/chat/overview:
    get:
      operationId: overview
      tags:
      - octorate
      summary: GET /octorate/chat/overview
      x-source: HTTPRouter.js:428
      security:
      - bearerAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: live
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/filters:
    get:
      operationId: filters
      tags:
      - octorate
      summary: GET /octorate/chat/filters
      x-source: HTTPRouter.js:433
      security:
      - bearerAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: live
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/thread/{property}/{thread}:
    get:
      operationId: thread
      tags:
      - octorate
      summary: GET /octorate/chat/thread/:property/:thread
      x-source: HTTPRouter.js:438
      security:
      - bearerAuth: []
      parameters:
      - name: property
        in: path
        required: true
        schema:
          type: string
      - name: thread
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/stream:
    get:
      operationId: stream
      tags:
      - octorate
      summary: GET /octorate/chat/stream
      x-source: HTTPRouter.js:443
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/subscribe:
    get:
      operationId: subscribe
      tags:
      - octorate
      summary: GET /octorate/chat/subscribe
      x-source: HTTPRouter.js:449
      security:
      - bearerAuth: []
      parameters:
      - name: event
        in: query
        required: false
        schema:
          type: string
      - name: reservation_url
        in: query
        required: false
        schema:
          type: string
      - name: url
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/subscriptions:
    get:
      operationId: subscriptions
      tags:
      - octorate
      summary: GET /octorate/chat/subscriptions
      x-source: HTTPRouter.js:454
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/backfill:
    get:
      operationId: runBackfillHandler
      tags:
      - octorate
      summary: GET /octorate/chat/backfill
      x-source: HTTPRouter.js:459
      security:
      - bearerAuth: []
      parameters:
      - name: concurrency
        in: query
        required: false
        schema:
          type: string
      - name: skip_done
        in: query
        required: false
        schema:
          type: string
      - name: start_after
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/backfill-reservations:
    get:
      operationId: runReservationsBackfillHandler
      tags:
      - octorate
      summary: GET /octorate/chat/backfill-reservations
      x-source: HTTPRouter.js:464
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/chat/backfill-guests:
    get:
      operationId: runGuestsBackfillHandler
      tags:
      - octorate
      summary: GET /octorate/chat/backfill-guests
      x-source: HTTPRouter.js:469
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/analytics:
    get:
      operationId: analyticsHandler
      tags:
      - octorate
      summary: GET /octorate/analytics
      x-source: HTTPRouter.js:474
      security:
      - bearerAuth: []
      parameters:
      - name: from
        in: query
        required: false
        schema:
          type: string
      - name: property
        in: query
        required: false
        schema:
          type: string
      - name: to
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/coverage:
    get:
      operationId: coverageHandler
      tags:
      - octorate
      summary: GET /octorate/coverage
      x-source: HTTPRouter.js:480
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhook/octorate/reservation:
    post:
      operationId: reservationWebhook
      tags:
      - webhook
      summary: POST /webhook/octorate/reservation
      x-source: HTTPRouter.js:485
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /analytics/topics:
    get:
      operationId: topicsReport
      tags:
      - analytics
      summary: GET /analytics/topics
      x-source: HTTPRouter.js:497
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/questions:
    get:
      operationId: topicQuestionsHandler
      tags:
      - topics
      summary: GET /topics/questions
      x-source: HTTPRouter.js:498
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/demographics:
    get:
      operationId: topicDemographicsHandler
      tags:
      - topics
      summary: GET /topics/demographics
      x-source: HTTPRouter.js:499
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/tag:
    get:
      operationId: runTaggingHandler
      tags:
      - topics
      summary: GET /topics/tag
      x-source: HTTPRouter.js:505
      security:
      - bearerAuth: []
      parameters:
      - name: reset
        in: query
        required: false
        schema:
          type: string
      - name: source
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/mine-otro:
    get:
      operationId: mineOtroHandler
      tags:
      - topics
      summary: GET /topics/mine-otro
      x-source: HTTPRouter.js:506
      security:
      - bearerAuth: []
      parameters:
      - name: source
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/taxonomy:
    get:
      operationId: taxonomyHandler
      tags:
      - topics
      summary: GET /topics/taxonomy
      x-source: HTTPRouter.js:507
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/taxonomy/add:
    get:
      operationId: addTaxonomyHandler
      tags:
      - topics
      summary: GET /topics/taxonomy/add
      x-source: HTTPRouter.js:508
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /topics/proposals:
    get:
      operationId: proposalsHandler
      tags:
      - topics
      summary: GET /topics/proposals
      x-source: HTTPRouter.js:513
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/rooms:
    get:
      operationId: getRooms
      tags:
      - octorate
      summary: GET /octorate/rooms
      x-source: HTTPRouter.js:517
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/rooms/available:
    get:
      operationId: getAvailableRooms
      tags:
      - octorate
      summary: GET /octorate/rooms/available
      x-source: HTTPRouter.js:518
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/availability/calendar:
    get:
      operationId: getRoomAvailabilityCalendar
      tags:
      - octorate
      summary: GET /octorate/availability/calendar
      x-source: HTTPRouter.js:522
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/availability/check:
    get:
      operationId: checkRoomAvailability
      tags:
      - octorate
      summary: GET /octorate/availability/check
      x-source: HTTPRouter.js:526
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/room/images:
    get:
      operationId: getRoomImages
      tags:
      - octorate
      summary: GET /octorate/room/images
      x-source: HTTPRouter.js:530
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/booking/url:
    get:
      operationId: getBookingURL
      tags:
      - octorate
      summary: GET /octorate/booking/url
      x-source: HTTPRouter.js:531
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/now:
    get:
      operationId: getNow
      tags:
      - octorate
      summary: GET /octorate/now
      x-source: HTTPRouter.js:532
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/extras:
    get:
      operationId: getExtras
      tags:
      - octorate
      summary: GET /octorate/extras
      x-source: HTTPRouter.js:538
      security: []
      parameters:
      - name: accommodation_id
        in: query
        required: false
        schema:
          type: string
      - name: enabled
        in: query
        required: false
        schema:
          type: string
      - name: includeMasterAccommodationExtras
        in: query
        required: false
        schema:
          type: string
      - name: size
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /octorate/reset:
    get:
      operationId: resetToken
      tags:
      - octorate
      summary: GET /octorate/reset
      x-source: HTTPRouter.js:542
      security:
      - bearerAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /octorate/accommodations/sync:
    post:
      operationId: syncAccommodationsWithOctorate
      tags:
      - octorate
      summary: POST /octorate/accommodations/sync
      x-source: HTTPRouter.js:547
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permission/group/get:
    post:
      operationId: getGroups
      tags:
      - permission
      summary: POST /permission/group/get
      x-source: HTTPRouter.js:568
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permission/group/get/single:
    post:
      operationId: getPermissionsInGroup
      tags:
      - permission
      summary: POST /permission/group/get/single
      x-source: HTTPRouter.js:569
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permission/group/update:
    post:
      operationId: updatePermissionInGroup
      tags:
      - permission
      summary: POST /permission/group/update
      x-source: HTTPRouter.js:574
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permission/group/status:
    post:
      operationId: updateAccessGroupStatus
      tags:
      - permission
      summary: POST /permission/group/status
      x-source: HTTPRouter.js:579
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permissions/group/delete:
    post:
      operationId: deleteAccessGroup
      tags:
      - permissions
      summary: POST /permissions/group/delete
      x-source: HTTPRouter.js:584
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permissions/group/add:
    post:
      operationId: addAccessGroup
      tags:
      - permissions
      summary: POST /permissions/group/add
      x-source: HTTPRouter.js:589
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permissions/add:
    post:
      operationId: addPermission
      tags:
      - permissions
      summary: POST /permissions/add
      x-source: HTTPRouter.js:594
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /permissions/delete:
    post:
      operationId: deletePermissions
      tags:
      - permissions
      summary: POST /permissions/delete
      x-source: HTTPRouter.js:595
      security:
      - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /poi/add:
    post:
      operationId: addPOI
      tags:
      - poi
      summary: POST /poi/add
      x-source: HTTPRouter.js:603
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /activity/poi/delete:
    post:
      operationId: deletePOIsByID
      tags:
      - activity
      summary: POST /activity/poi/delete
      x-source: HTTPRouter.js:604
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /activity/poi/get/filter:
    post:
      operationId: getPOIsByFilter
      tags:
      - activity
      summary: POST /activity/poi/get/filter
      x-source: HTTPRouter.js:605
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    look_for:
                      type: string
                    language_code:
                      type: string
                    filter:
                      type: string
                    value:
                      type: string
                  additionalProperties: true
              additionalProperties: true
            example:
              data:
                look_for: all
                language_code: en
                filter: category
                value: Restaurant
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /pois:
    get:
      operationId: getPOIs
      tags:
      - pois
      summary: GET /pois
      x-source: HTTPRouter.js:606
      security: []
      parameters:
      - name: tags
        in: query
        required: false
        schema:
          type: string
        example: generic.local_gem
      - name: destination_id
        in: query
        required: false
        schema:
          type: integer
        example: 3
      - name: include_surrounding_destinations
        in: query
        required: false
        schema:
          type: boolean
        example: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /routes:
    get:
      operationId: getRoutes
      tags:
      - routes
      summary: GET /routes
      x-source: HTTPRouter.js:607
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /activity/poi/get/editable:
    post:
      operationId: getPOIEditableDetails
      tags:
      - activity
      summary: POST /activity/poi/get/editable
      x-source: HTTPRouter.js:608
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataEnvelope'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResult'
  /activity/poi/get/details:
    post:
      operationId: getPOIDetails
      tags:
      - Assistant
      summary: POST /activity/poi/get/details
      x-source: HTTPRouter.js:612
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
[...]
