openapi: 3.1.0
info:
  title: Rebeca API publica v4
  version: 1.7.0
  description: 'API publica de Rebeca para integradores. Flujo: 1) `POST /session` con tu API key
    (`X-Api-Key`) devuelve un token de usuario final de 30 minutos; 2) el resto de rutas usan ese
    token en `Authorization: Bearer`. Las claves `rbk_live_` son solo de servidor; las `rbk_pub_`
    pueden ir en el navegador y exigen que el `Origin` este en la lista permitida del negocio. Los
    cuerpos de las peticiones son planos (sin sobre `data`). Las respuestas correctas usan `{
    status: "success", data }` y los errores `{ errors: [{ type, msg }] }`.'
servers:
  - url: https://rebeca.app/api/dev/v4
    description: dev
  - url: https://rebeca.app/api/v4
    description: prod
tags:
  - name: v4
    description: API publica v4
paths:
  /session:
    post:
      operationId: createSession
      tags:
        - v4
      summary: Crea (o renueva) la sesion de un usuario final anonimo
      description: "Unica ruta que usa la API key. Con `rbk_live_` (servidor) o `rbk_pub_` (navegador; el
        `Origin` debe estar en la allowlist del negocio). Devuelve el token de usuario final (30
        min) para el resto de rutas. Para renovar sobre el mismo anonimo, enviar el token anterior
        (aunque haya caducado) en `Authorization: Bearer`."
      security:
        - apiKey: []
      parameters:
        - name: Authorization
          in: header
          required: false
          description: Token v4 previo (puede estar caducado) para renovar sobre el mismo usuario anonimo.
          schema:
            type: string
            example: Bearer eyJhbGciOi...
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Sesion creada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SessionData"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"
  /chat:
    post:
      operationId: chat
      tags:
        - v4
      summary: Pregunta al agente del negocio
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                session_id:
                  type: string
                  description: Identificador de la conversacion; se conserva entre turnos.
                language_code:
                  type: string
                  example: es
                parameters:
                  type: object
                  additionalProperties: true
                  properties:
                    activity_id:
                      type: integer
              required:
                - question
              additionalProperties: true
      responses:
        "200":
          description: Respuesta del agente
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": &a1
          $ref: "#/components/responses/BadRequest"
        "401": &a2
          $ref: "#/components/responses/Unauthorized"
        "403": &a3
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429": &a4
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/ServerError"
  /destinations:
    get:
      operationId: listDestinations
      tags:
        - v4
      summary: Lista de destinos
      security:
        - bearerUserToken: []
      parameters:
        - name: name
          in: query
          required: false
          description: Filtro por nombre.
          schema:
            type: string
        - name: stack
          in: query
          required: false
          description: Filtro de stack.
          schema:
            type: integer
          example: 1
      responses:
        "200":
          description: Destinos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /destination:
    get:
      operationId: getDestination
      tags:
        - v4
      summary: Detalle de un destino
      security:
        - bearerUserToken: []
      parameters:
        - name: destination_id
          in: query
          required: true
          description: Id del destino.
          schema:
            type: integer
          example: 2
      responses:
        "200":
          description: Destino
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /pois:
    get:
      operationId: listPois
      tags:
        - v4
      summary: Lugares de interes
      security:
        - bearerUserToken: []
      parameters:
        - name: tags
          in: query
          required: false
          description: Etiquetas separadas por coma.
          schema:
            type: string
          example: generic.local_gem
        - name: destination_id
          in: query
          required: false
          description: Destino.
          schema:
            type: integer
          example: 3
        - name: include_surrounding_destinations
          in: query
          required: false
          description: Incluye destinos cercanos.
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: Lugares de interes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /pois/details:
    post:
      operationId: getPoiDetails
      tags:
        - v4
      summary: Detalle de un lugar de interes
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                poi_id:
                  type: integer
                language_code:
                  type: string
                  example: es
              required:
                - poi_id
              additionalProperties: true
      responses:
        "200":
          description: Detalle del POI
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /pois/personalized:
    post:
      operationId: getPersonalizedPois
      tags:
        - v4
      summary: Lugares recomendados para el usuario
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_id:
                  type: integer
                language_code:
                  type: string
                  example: es
              required:
                - destination_id
              additionalProperties: true
      responses:
        "200":
          description: Lugares personalizados
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /routes:
    get:
      operationId: listRoutes
      tags:
        - v4
      summary: Rutas turisticas
      security:
        - bearerUserToken: []
      parameters:
        - name: destination_ids
          in: query
          required: false
          description: Ids de destino separados por coma (familia explicita).
          schema:
            type: string
          example: 1,2,3
        - name: destination_id
          in: query
          required: false
          description: Destino unico.
          schema:
            type: integer
        - name: language_code
          in: query
          required: false
          description: Codigo de idioma (p. ej. es, en).
          schema:
            type: string
          example: es
      responses:
        "200":
          description: Rutas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /favourites:
    post:
      operationId: setFavourite
      tags:
        - v4
      summary: Marca o desmarca un lugar como favorito
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                place_of_interest_id:
                  type: string
                is_favourite:
                  type: boolean
              required:
                - place_of_interest_id
              additionalProperties: true
      responses:
        "200":
          description: Favorito actualizado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /profile:
    get:
      operationId: getProfile
      tags:
        - v4
      summary: Perfil del usuario (favoritos)
      security:
        - bearerUserToken: []
      parameters: []
      responses:
        "200":
          description: Perfil
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /connect/lodging:
    get:
      operationId: listLodging
      tags:
        - v4
      summary: Alojamientos conectados
      security:
        - bearerUserToken: []
      parameters:
        - name: destination_id
          in: query
          required: true
          description: Destino.
          schema:
            type: integer
      responses:
        "200":
          description: Alojamientos
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /connect/packages:
    get:
      operationId: listPackages
      tags:
        - v4
      summary: Paquetes conectados
      security:
        - bearerUserToken: []
      parameters:
        - name: destination_id
          in: query
          required: true
          description: Destino.
          schema:
            type: integer
        - &a5
          name: language_code
          in: query
          required: false
          description: Codigo de idioma (p. ej. es, en).
          schema:
            type: string
          example: es
      responses:
        "200":
          description: Paquetes
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /packages/details:
    get:
      operationId: getPackageDetails
      tags:
        - v4
      summary: Detalle de un paquete
      security:
        - bearerUserToken: []
      parameters:
        - name: package_id
          in: query
          required: true
          description: Id del paquete.
          schema:
            type: integer
        - *a5
      responses:
        "200":
          description: Paquete
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /packages/stop:
    get:
      operationId: getPackageStop
      tags:
        - v4
      summary: Parada de un paquete por QR
      security:
        - bearerUserToken: []
      parameters:
        - name: qr
          in: query
          required: true
          description: Codigo QR de la parada.
          schema:
            type: string
        - *a5
      responses:
        "200":
          description: Parada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /geocode:
    post:
      operationId: geocode
      tags:
        - v4
      summary: Convierte una direccion en coordenadas
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  maxLength: 512
              required:
                - address
              additionalProperties: true
      responses:
        "200":
          description: Coordenadas (null si la direccion no se reconoce)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          coordinates:
                            type:
                              - object
                              - "null"
                            properties:
                              latitude:
                                type: number
                              longitude:
                                type: number
                            additionalProperties: true
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /plan-status/{task_id}:
    get:
      operationId: getPlanStatus
      tags:
        - v4
      summary: Estado de la generacion asincrona de un itinerario
      security:
        - bearerUserToken: []
      parameters:
        - name: task_id
          in: path
          required: true
          description: Id devuelto al pedir el plan.
          schema:
            type: string
      responses:
        "200":
          description: Estado del plan
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          task_id:
                            type: string
                          status:
                            type: string
                          result:
                            type: object
                            additionalProperties: true
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "404":
          $ref: "#/components/responses/NotFound"
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /trips:
    post:
      operationId: createTrip
      tags:
        - v4
      summary: Crea un viaje
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_id:
                  type: integer
                number_of_people:
                  type: integer
                  default: 1
                start_date:
                  type: string
                  format: date
                end_date:
                  type: string
                  format: date
                trip_purpose:
                  type: string
              required:
                - destination_id
              additionalProperties: true
      responses:
        "200":
          description: Viaje creado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          user_trip_id:
                            type: integer
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /planning:
    get:
      operationId: generatePlanning
      tags:
        - v4
      summary: Genera el itinerario de un viaje (asincrono)
      security:
        - bearerUserToken: []
      parameters:
        - name: user_trip_id
          in: query
          required: true
          description: Viaje.
          schema:
            type: integer
          example: 2473
        - name: latitude
          in: query
          required: false
          description: Latitud de partida.
          schema:
            type: number
          example: -13.8389
        - name: longitude
          in: query
          required: false
          description: Longitud de partida.
          schema:
            type: number
          example: -76.25156
        - name: force_must_visit
          in: query
          required: false
          description: Fuerza las visitas obligatorias.
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: Tarea de planificacion (consulta /plan-status/{task_id})
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "404":
          $ref: "#/components/responses/NotFound"
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /schedule:
    post:
      operationId: setSchedule
      tags:
        - v4
      summary: Guarda las actividades del itinerario de un viaje
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_trip_id:
                  type: integer
                other_activities:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                poi_activities:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
              required:
                - user_trip_id
              additionalProperties: true
      responses:
        "200":
          description: Itinerario guardado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "404":
          $ref: "#/components/responses/NotFound"
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
    get:
      operationId: getSchedule
      tags:
        - v4
      summary: Lee el itinerario de un viaje
      security:
        - bearerUserToken: []
      parameters:
        - name: user_trip_id
          in: query
          required: true
          description: Viaje.
          schema:
            type: integer
          example: 2200
        - *a5
      responses:
        "200":
          description: Itinerario
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "404":
          $ref: "#/components/responses/NotFound"
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
    put:
      operationId: addScheduleActivity
      tags:
        - v4
      summary: Anade una actividad externa al itinerario
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_trip_id:
                  type: integer
                external_activity:
                  type: object
                  properties:
                    description:
                      type: string
                    start_timestamp:
                      type: string
                    location:
                      type: string
                    external_activity_id:
                      type: integer
                  additionalProperties: true
              required:
                - user_trip_id
              additionalProperties: true
      responses:
        "200":
          description: Actividad anadida
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "404":
          $ref: "#/components/responses/NotFound"
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /preferences:
    post:
      operationId: addPreferences
      tags:
        - v4
      summary: Registra preferencias del usuario
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                category:
                  type: string
                  default: generic
                tags:
                  type: array
                  items:
                    type: string
                weights:
                  type: array
                  items:
                    type: number
              additionalProperties: true
      responses:
        "200":
          description: Preferencias registradas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /labels/localize:
    post:
      operationId: localizeLabels
      tags:
        - v4
      summary: Textos localizados por grupo
      security:
        - bearerUserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                group_code:
                  type: string
                language_code:
                  type: string
                  example: es
              additionalProperties: true
      responses:
        "200":
          description: Etiquetas
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
  /app-config:
    get:
      operationId: getAppConfig
      tags:
        - v4
      summary: Configuracion publica de la app
      security:
        - bearerUserToken: []
      parameters: []
      responses:
        "200":
          description: Configuracion
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Success"
                  - type: object
                    properties:
                      data:
                        type: object
                        additionalProperties: true
        "400": *a1
        "401": *a2
        "403": *a3
        "429": *a4
        "500":
          $ref: "#/components/responses/ServerError"
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key del negocio (`rbk_live_EXAMPLE...` servidor, `rbk_pub_EXAMPLE...` navegador).
        Solo se usa en POST /session.
    bearerUserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token de usuario final devuelto por POST /session (caduca en 30 min). Un token de app o
        de widget se rechaza con 401.
  schemas:
    Success:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
        data: {}
      required:
        - status
    ErrorItem:
      type: object
      required:
        - type
        - msg
      properties:
        type:
          type: string
        msg:
          type: string
    ErrorResponse:
      type: object
      required:
        - errors
      properties:
        status:
          type: string
          enum:
            - error
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ErrorItem"
    SessionData:
      type: object
      required:
        - token
        - expires_in
        - client_id
      properties:
        token:
          type: string
          description: Token de usuario final.
        expires_in:
          type: integer
          example: 1800
          description: Segundos de validez.
        client_id:
          type: integer
          description: Id del usuario anonimo.
        config:
          type: object
          additionalProperties: true
          description: Configuracion publica del negocio.
  responses:
    BadRequest:
      description: Validacion fallida
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: address
                msg: address is required
    Unauthorized:
      description: Sin key, key invalida o revocada, o token invalido, ajeno o de otro tipo
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: token
                msg: Unauthorized Access - No Token Provided!
    Forbidden:
      description: Origin no permitido para esta key publicable
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: origin
                msg: Origin not allowed
    NotFound:
      description: Recurso no encontrado (un viaje ajeno o inexistente responde igual)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: task_id
                msg: task not found
    Conflict:
      description: El negocio no tiene agente asignado (solo /chat)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: agent
                msg: No agent is bound to this client
    ServerError:
      description: Error interno
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: generic
                msg: An error occurred! Try again later
    TooManyRequests:
      description: Cuota diaria superada
      headers:
        Retry-After:
          description: Segundos hasta que se reinicia la cuota (medianoche UTC).
          schema:
            type: integer
            example: 3600
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            status: error
            errors:
              - type: quota
                msg: Daily quota exceeded
